<div ng-app="app">
  {{ 1 + 1 }}

  <div ng-controller="todoCtrl">
    <p> {{ purpleHippo }}</p>
    <p> {{ yellowHippo }}</p>
    <p> {{ coffeeHippo }}</p>
    <input ng-model="coffeeHippo">
  </div>
</div>
