<div ng-app="app">
  {{ 1 + 1 }}

  <div ng-controller="todoCtrl">
     <h2>To do list:</h2>
      <div ng-repeat="hippo in hippos">
        <p ng-click="removeHippo($index)">{{ hippo }}</p>
        <input ng-model="hippo">
      </div>
    
      <input ng-model="hippo" onFocus="this.value=''">
      </div>

      <h3>Leave a new task here: </h3>
      <input name="newHippo" ng-model="newHippo">
      <button ng-click="addHippo(newHippo)">Add in task!</button>
    </div>
  </div>
</div>